@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lexend:wght@200&display=swap');

:root {
    --primary-font: Fugaz One, sans-serif;
    --secondary-font:  Lexend, sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}