.thePads {
    padding: 30px;
}

.header--img {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./assets/trimming.jpg);
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: var(--primary-font);
    margin-top: -25vh;
    margin-bottom: 10vh;
    width: 100%;
    z-index: 2;
    border: 2px solid black;
}

.header--img h1 {
    font-size: 4rem;
}

.header--img h4 {
    font-size: 1.5rem;
}

.header--content {
    text-align: center;
    position: relative;
    top: 320px;
}

.header--button {
    width: 150px;
    height: 40px;
    font-family: var(--secondary-font);
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid white;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 0;
    color: white;
    background:rgba(0, 0, 0, 0.3);
    transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

.header--button:hover {
    transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    background:rgba(168, 202, 36, .7);
    color: black;
    border: 1px solid black;
}

.main--wrapper {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    width: 100%;
}

.main--wrapper h2 {
    margin-bottom: 20px;
    text-decoration: underline;
    text-transform: uppercase;
}

.main--about {
    background: linear-gradient(to bottom, rgba(174, 174, 174, 0.3)0%, rgba(255, 255, 255, 0.6)100%);
    border-radius: 15px;
    line-height: 4vh;
    width: 90%;
    margin: 30px auto;
}

.main--services {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.main--services h2 {
    margin: 25px 55px;
}

.main--service-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    gap: 40px;
    margin-top: 30px;
}

.main--service-blocks div {
    width: 350px;
}

/* .main--service-blocks div{
   width: 30rem;
} */